services:
  postgres:
    image: postgres:16.2-alpine3.19
    ports:
      - "15432:5432"
    volumes:
      - "/tmp/diestplan-db-data:/var/lib/postgresql/data"
    env_file:
      - .env

  dienstplan:
    build:
      context: .
      dockerfile: Dockerfile-test
    volumes:
      - ".:/usr/src/app"
    ports:
      - "8080:8080"
      - "16543:6543"
    depends_on:
      - postgres
    env_file:
      - .env

  schedule-daemon:
    build:
      context: .
      dockerfile: Dockerfile-test
    command: ["clojure", "-X:schedule-daemon"]
    volumes:
      - ".:/usr/src/app"
    depends_on:
      - postgres
    env_file:
      - .env
